<mat-toolbar color="primary" *ngIf="isLoggedInDataType;else notLogged">
    <mat-toolbar-row>
        <a class="navbar-brand" href="/">si67wtf</a>
        <a class="nav-link text-dark" routerLink="/home" routerLinkActive="active">Welcome</a>
        <a class="nav-link text-dark" routerLink="/sha" routerLinkActive="active">Sha generator</a>
        <a class="nav-link text-dark" routerLink="/note" routerLinkActive="active">Note</a>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">android</mat-icon>
        <a class="nav-link text-dark" routerLink="/note" routerLinkActive="active" (click)="logoutUser()">Log out</a>
    </mat-toolbar-row>
</mat-toolbar>

<ng-template #notLogged>
    <mat-toolbar color="primary">
        Sign In
    </mat-toolbar>
</ng-template>
<router-outlet></router-outlet>